[submodule "GfPascalschesDreieck-"]
	path = GfPascalschesDreieck-
	url = https://github.com/Sturmiwurmi/GfPascalschesDreieck-
[submodule "GfSortieralgorithmen-"]
	path = GfSortieralgorithmen-
	url = https://github.com/Sturmiwurmi/GfSortieralgorithmen-
[submodule "GfEigenesGame-"]
	path = GfEigenesGame-
	url = https://github.com/Sturmiwurmi/GfEigenesGame-
[submodule "GfHeld-Monster"]
	path = GfHeld-Monster
	url = https://github.com/Sturmiwurmi/GfHeld-Monster
[submodule "Greenfoot"]
	path = Greenfoot
	url = https://github.com/Sturmiwurmi/Greenfoot
[submodule "GfSudoku-"]
	path = GfSudoku-
	url = https://github.com/Sturmiwurmi/GfSudoku-
[submodule "GfTurm-von-Hanoi-"]
	path = GfTurm-von-Hanoi-
	url = https://github.com/Sturmiwurmi/GfTurm-von-Hanoi-
